{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/im/post-bg.jpg'%})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Giriş Yap</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form method="POST">{% csrf_token %}
                                <div class="form-floating">
                                    {{form.as_p}}
                                </div>
                                
                                <button type="submit">Kaydol </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock content %}
        <!-- Footer-->